<footer class="bg-black section-padding pb-1">
    <div class="water-mark">
        <h1 class="text-center m-0">SULTAN MASOOD</h1>
    </div>

    <div class="footer-heading">
        <h3 class="text-white font-weight-bold">SULTAN MASOOD</h3>
    </div>

    <br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <p><a href="#" class="footer-head-link font-size-18 text-white">Sitemap</a></p>
                <ul class="list-inline">
                    <li><a class="footer-link-text font-size-18" href="#">Concerts</a></li>
                    <li><a class="footer-link-text font-size-18" href="#">Biography</a></li>
                    <li><a class="footer-link-text font-size-18" href="#">Timeline</a></li>
                    <li><a class="footer-link-text font-size-18" href="#">Discography</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3">
                <br /><br />
                <ul class="list-inline">
                    <li><a class="footer-link-text font-size-18" href="#">Projects</a></li>
                    <li><a class="footer-link-text font-size-18" href="#">Foundation</a></li>
                    <li><a class="footer-link-text font-size-18" href="#">Media</a></li>
                    <li><a class="footer-link-text font-size-18" href="#">News</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3">
                <br /><br />
                <ul class="list-inline">
                    <li><a class="footer-link-text font-size-18" href="#">Contact</a></li>
                    <li><a class="footer-link-text font-size-18" href="#">Imprint</a></li>
                    <li><a class="footer-link-text font-size-18" href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3">
                <p class="footer-head-link font-size-18 text-white">Get Connected With Us</p>
                <form class="form-inline">
                    <!-- <label for="email" class="mr-sm-2">Email address:</label> -->
                    <input type="email" class="form-control mb-2 mr-sm-2 w-100" id="email" placeholder="Email...">
                </form>

                <br />

                <div id="footer-social-link">
                    <div><a href="#" class="text-white"><span class="fa fa-facebook"></span></a></div>
                    <div><a href="#" class="text-white"><span class="fa fa-twitter"></span></a></div>
                    <div><a href="#" class="text-white"><span class="fa fa-youtube"></span></a></div>
                    <div><a href="#" class="text-white"><span class="fa fa-soundcloud"></span></a></div>
                    <div><a href="#" class="text-white"><span class="fa fa-spotify"></span></a></div>
                    <div><a href="#" class="text-white"><span class="fa fa-snapchat"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<!-- Swipbox JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>